<h2>База данных mdl_transfer_onlineedu</h2>
<table class="table_edu">
<tr><th>id</th><th>userid</th><th>user_scos</th><th>act</th><th>date_transfer</th><th>courseid</th><th>course_scos_id</th><th>session_id</th><th>progress</th><th>rating</th><th>rating_time</th><th>rating_id_instance</th><th>checkpoint_name</th><th>description</th></tr>
{{#records}}
    <tr><td>{{id}}</td><td>{{userid}}</td><td>{{user_scos}}</td><td>{{act}}</td><td>{{date_transfer}}</td><td>{{courseid}}</td><td>{{course_scos_id}}</td><td>{{session_id}}</td><td>{{progress}}</td><td>{{rating}}</td><td>{{rating_time}}</td><td>{{rating_id_instance}}</td><td>{{checkpoint_name}}</td><td>{{description}}</td></tr>
{{/records}}
</table>