.form-profstan {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 900px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-profstan input[type="text"], .form-profstan textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.list-competencies {
  margin-bottom: 20px;
}
.list-competencies .element-list-competency {
  display: inline-block;
  margin-right: 10px;
}
.form-profstan .wrap-btn-profstan {
  display: flex;
}
.form-profstan input[type="submit"] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  margin: 5px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-profstan #btn-change-profstan {
  background: #4CAF50;
}
.form-profstan #btn-change-profstan:hover,.form #btn-change-profstan:active,.form #btn-change-profstan:focus {
  background: #43A047;
}
.form-profstan #btn-delete-profstan {
  background: #d63838;
}
.form-profstan #btn-delete-profstan:hover,.form #btn-delete-profstan:active,.form #btn-delete-profstan:focus {
  background: #881919;
}
.form-profstan .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
}
.form-profstan .message a {
  color: #4CAF50;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}