<h2>Минимальные технические требования платформы дистанционного обучения Moodle</h2>

<div class="minrequirements">
    <div>Поддерживаемые браузеры: Chrome, Safari, Mozila, Firefox, Yandex browser</div>
    <div>Поддерживаемые операционные системы: Windows (7, 8, 10), Mac OS</div>
    <div>Минимальное разрешение экрана: 1280x1024</div>
    <div>Рекомендуемый размер дисплея: диагональ экрана от 13.</div>
    <div>Рекомендуемое разрешение дисплея: от 1600 x 1200.</div>
    <div>Скорость интернет-соединения для работы с текстовыми и графическими материалами: от 512 кбит/сек.</div>
    <div>Скорость интернет-соединения для просмотра видео и вебинаров: от 3 мбит/сек.</div>
    <div>Частота процессора клиентского устройства: Pentium 500 Мгц+</div>
    <div>К сожалению, мы не можем полностью гарантировать стабильную работу с мобильными устройствами, бета-версиями браузеров, а также с рядом устаревших операционных систем, уже не поддерживаемых производителями, включая Windows Vista и Windows XP.</div>
    <div>Последнее изменение: Среда, 24 мая 2023, 10:36</div>
</div>